:root {
    --cor-de-fundo: #00030C;
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --fonte-principal: 'Inter'
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal{
    align-items: center;
    text-align: center;
}

.container{
    height: 85vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    display: block;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__filmes {
    width: 90%;
    height: 85%;
    margin-top: 3em;
}

.secundario{
    align-items: center;
    margin: 0 10em
}

.secundario__imagem {
    width: 90%;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
    white-space: nowrap;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
}

.rodape{
    text-align: center;
    margin: 8em 3em 5em 3em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2em;
}

.lista__link a{
    color: var(--branco-principal);
    text-decoration: none;
    margin-left: 1em;
}

.rodape__texto {
    color: var(--cinza-secundario);
    margin: 2em;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
    }

    .container__imagem {
        width: 30vw;
    }

    .container__caixa {
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .container__filmes {
        display: none;
    }
}